.sidebar {
    width: 100%;
    padding: 0;
    background-color: #dce8fd;
    opacity: 1;
    color: #ffffff;
}

.nav-item.a {
    color: #ffffff;
}


.nav-link:hover {
    background-color: #fff;
    color: #000 !important;
}
